<a href="https://colab.research.google.com/github/Maximonett/TT-2C2025-Data-Analitycs-Notebooks/blob/main/clase_4/clase4_ejercicios_practicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***ACTIVIDAD 1***

**Instrucciones:**

1. Descargar el siguiente conjunto de datos: [satis_clientes.csv](https://drive.google.com/file/d/169MG1sSG8IqTtLdJwIlnBOhMkF_CN_Tb/view?usp=drive_link).
2. Cargar los datos en un DataFrame en Python usando Pandas.
Utilizar el método `isnull()` para identificar las filas con datos faltantes y contar el número de valores nulos por columna.
3. Usar el método `duplicated()` para identificar las filas duplicadas y contar cuántas filas duplicadas hay en total.
4. Crear un informe que incluya:
  * La cantidad total de registros en el DataFrame.
  * La cantidad total de valores nulos por columna.
  * La cantidad de filas duplicadas.
  * Un subconjunto de los registros duplicados para que se vea el contenido.

In [5]:
import numpy as np
import pandas as pd

La función pd.isnulll() detecta valores nulos (como NaN, None, etc.) y devuelve True si el valor es nulo, o False si no lo es.

In [6]:
na=np.nan
print(type(na))

<class 'float'>

In [7]:
pd.isnull(np.nan)

True

In [9]:
pd.isnull(None)

True

La función pd.isna() en pandas se utiliza para detectar valores nulos (missing values) en objetos, como NaN, None, etc.

In [10]:
pd.isna(np.nan)

True

In [12]:
pd.isna(None)
## Tambien se puede usar con Series
pd.isna(pd.Series([1,2,np.nan,4]))

0    False
1    False
2     True
3    False
dtype: bool

Sí, **`np.nan`** (Not a Number) de la librería **NumPy** en Python es la forma estándar de representar un **valor faltante o indefinido**, y en el contexto de análisis de datos y computación científica, se le considera un **valor nulo**.

---

## **Contexto y Uso de `np.nan`**

* **Definición:** `np.nan` es un valor especial de **coma flotante** (`float`) que se utiliza para indicar que un valor no está disponible (es nulo), no es aplicable o es matemáticamente indefinido (como el resultado de dividir $0/0$ o $\infty - \infty$).
* **Valor Nulo:** Aunque técnicamente es un valor de punto flotante, en la práctica es el marcador de "nulo" o "perdido" más común y aceptado en el ecosistema de Python, especialmente en librerías como **NumPy** y **pandas**.
* **Importancia en pandas:** En la librería **pandas**, que está construida sobre NumPy, `np.nan` es el marcador principal para datos faltantes en Series y DataFrames.

---

## **Distinción Importante: `None` vs. `np.nan`**

Es importante notar la diferencia con el valor incorporado de Python **`None`**:

| Característica | `np.nan` | `None` |
| :--- | :--- | :--- |
| **Tipo de Dato** | Coma flotante (`float`) | Objeto `NoneType` |
| **Uso Principal** | Marcar datos **faltantes** o **nulos** en *arrays* numéricos (NumPy, pandas). | Ausencia de **valor** o **referencia** en Python general. |
| **Comportamiento** | Se **propaga** en operaciones matemáticas. $\text{Ej: } 5 + \text{nan} = \text{nan}$ | Genera errores (`TypeError`) en operaciones matemáticas. $\text{Ej: } 5 + \text{None}$ |
| **Chequeo de Nulidad** | `np.isnan(valor)` o `valor != valor` | `valor is None` |