# Tecnicas para limpieza de datos

1. Eliminar duplicados
`drop_duplicates()`
2. Eliminar caracteres no deseados
`str.replace()`
3. Corrección del tipo de dato
df[ “campo” ].astype(float) [texto del enlace](https://)
4. Manejo de datos faltantes
`dropna()`
`fillna()`
5. Normalización de datos
`.str.strip().lower()`
6. Filtrado de datos
`df [ df[“campo”] + condición ]`

## Importamos algunos datasets para explorar

In [2]:
# Importar la librería Pandas
import pandas as pd

In [3]:
# Montar la unidad
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Verificar que los archivos csv se encuentren en la carpeta datasets
import os
os.listdir("/content/drive/MyDrive/DATASETS")

['reviews.csv',
 'hotels.csv',
 'users.csv',
 'netflix_titles.csv',
 'satis_clientes.csv',
 'Actividad 2.gsheet']

In [6]:
# Importamos el Dataset satis (customer satisfaction)
df_satis = pd.read_csv("/content/drive/MyDrive/DATASETS/satis_clientes.csv")
df_satis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1128 non-null   int64
 1   Empresa       1128 non-null   object
 2   Fecha         1128 non-null   object
 3   Calificación  904 non-null    float64
 4   Comentarios   818 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 44.2+ KB

In [7]:
# Importamos el Dataset Netflix
df_netflix = pd.read_csv("/content/drive/MyDrive/DATASETS/netflix_titles.csv")
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
# Importamos el Dataset de pacientes con sus mediciones de temperatura
df_pacientes = pd.read_csv('https://docs.google.com/spreadsheets/d/1-rUn4TUwpGrLE1DH8moeiR5eSyeF-jOOTpfhRgZxVIQ/gviz/tq?tqx=out:csv&sheet=')
df_pacientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3018 entries, 0 to 3017
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  3018 non-null   object
 1   d1      2832 non-null   float64
 2   d2      2871 non-null   float64
 3   d3      2822 non-null   float64
 4   d4      2839 non-null   float64
 5   d5      2855 non-null   float64
 6   d6      2820 non-null   float64
 7   d7      2864 non-null   float64
 8   d8      2834 non-null   float64
 9   d9      2816 non-null   float64
 10  d10     2845 non-null   float64
dtypes: float64(10), object(1)
memory usage: 259.5+ KB

## Identificación de datos duplicados

[duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

### Dataframe satis

In [9]:
df_satis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1128 non-null   int64
 1   Empresa       1128 non-null   object
 2   Fecha         1128 non-null   object
 3   Calificación  904 non-null    float64
 4   Comentarios   818 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 44.2+ KB

In [10]:
# Veamos si hay duplicados
df_satis.duplicated().sum()

np.int64(128)

In [11]:
# Veamos cuantos registros duplicados hay
df_satis.duplicated(subset=["Empresa", "Calificación"]).sum()

np.int64(134)

In [16]:
df_satis.duplicated(subset=["Empresa", "Calificación"])

0       False
1       False
2       False
3       False
4       False
        ...
1123    False
1124    False
1125    False
1126    False
1127    False
Length: 1128, dtype: bool

In [17]:
# Contar valores unicos
df_satis.value_counts(subset=["Empresa", "Calificación"]).sort_values(ascending=False)

Empresa                       Calificación
Batz-Buckridge                4.0             2
VonRueden-Kerluke             5.0             2
Powlowski-Champlin            1.0             2
Johnson, Hermann and Stark    4.0             2
Johnson Inc                   4.0             2
                                             ..
Swaniawski-Ortiz              1.0             1
Terry Group                   2.0             1
Terry LLC                     3.0             1
Thompson Inc                  3.0             1
Stoltenberg, Sawayn and West  3.0             1
Name: count, Length: 798, dtype: int64

In [18]:
# Visualizar los duplicados con diferentes argumentos
df_satis[df_satis.duplicated(keep=False)].sort_values(by='Empresa')

,id,Empresa,Fecha,Calificación,Comentarios
1122,995,Altenwerth LLC,13/09/2024,NaN,NaN
1121,995,Altenwerth LLC,13/09/2024,NaN,NaN
811,726,"Altenwerth, Blanda and Waelchi",28/09/2024,1.0,"Proin leo odio, porttitor id, consequat in, co..."
812,726,"Altenwerth, Blanda and Waelchi",28/09/2024,1.0,"Proin leo odio, porttitor id, consequat in, co..."
187,172,"Altenwerth, Reichert and Mills",07/08/2024,3.0,"Proin eu mi. Nulla ac enim. In tempor, turpis ..."
...,...,...,...,...,...
469,423,Zemlak Group,13/12/2024,5.0,Duis consequat dui nec nisi volutpat eleifend....
973,865,Zemlak Inc,29/03/2024,3.0,Fusce consequat. Nulla nisl. Nunc nisl.\n\nDui...
974,865,Zemlak Inc,29/03/2024,3.0,Fusce consequat. Nulla nisl. Nunc nisl.\n\nDui...
512,459,Zulauf LLC,29/04/2024,5.0,NaN
511,459,Zulauf LLC,29/04/2024,5.0,NaN

In [19]:
# Aplicar filtros
df_satis[df_satis['Empresa'] == "Keebler Inc"]

,id,Empresa,Fecha,Calificación,Comentarios
4,5,Keebler Inc,12/01/2024,4.0,Integer ac leo. Pellentesque ultrices mattis o...
636,570,Keebler Inc,28/07/2024,5.0,Vestibulum ac est lacinia nisi venenatis trist...

In [20]:
df_satis[df_satis.duplicated(subset=["Empresa", "Fecha"],keep=False)].sort_values(by='id')

,id,Empresa,Fecha,Calificación,Comentarios
9,10,Legros-Olson,12/11/2024,5.0,NaN
10,10,Legros-Olson,12/11/2024,5.0,NaN
11,11,Harris-Davis,13/11/2024,1.0,Nullam sit amet turpis elementum ligula vehicu...
12,11,Harris-Davis,13/11/2024,1.0,Nullam sit amet turpis elementum ligula vehicu...
17,16,"White, Balistreri and Daugherty",29/06/2024,5.0,NaN
...,...,...,...,...,...
1109,984,"Strosin, Raynor and Oberbrunner",14/02/2024,1.0,Morbi porttitor lorem id ligula. Suspendisse o...
1117,992,Donnelly-Bashirian,14/03/2024,NaN,Nullam porttitor lacus at turpis. Donec posuer...
1118,992,Donnelly-Bashirian,14/03/2024,NaN,Nullam porttitor lacus at turpis. Donec posuer...
1121,995,Altenwerth LLC,13/09/2024,NaN,NaN
1122,995,Altenwerth LLC,13/09/2024,NaN,NaN

In [ ]:
df_satis[df_satis.duplicated(subset=df_satis.columns[1:],keep=False)].sort_values(by='Empresa')

### Dataframe Pacientes

In [ ]:
# Veamos cuantos registros duplicados hay
df_pacientes.duplicated().sum()

In [ ]:
# Si hay, entonces los listamos (keep, first, last, False)
df_pacientes[df_pacientes.duplicated(subset=["nombre"], keep=False)].sort_values(by='nombre')

### Dataframe Netflix

In [ ]:
df_netflix.duplicated().sum()

In [ ]:
df_netflix[df_netflix.duplicated()]

## Tratamiento de datos duplicados
[Pandas drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

### Dataset Satis

In [1]:
df_satis.info()

NameError: name 'df_satis' is not defined

In [ ]:
df_satis_pp1 = df_satis.drop_duplicates(subset=["Empresa", "Calificación"], keep="first")
df_satis_pp1.info()

In [ ]:
df_netflix.duplicated().sum()

In [ ]:
df_satis_pp1[df_satis_pp1.duplicated(subset=["Empresa", "Calificación"], keep=False)].sort_values(by='Empresa')

## Exploración de datos nulos

In [ ]:
df_satis.info()

In [ ]:
# Ver si hay valores nulos, en general o en columnas especificas
#df_satis.isnull().sum()
#df_satis[["Comentarios", "Calificación"]].isnull().sum()
df_satis.isnull().any(axis=1).sum()

In [ ]:
# Visualizar los registros con celdas null / NaN
df_satis[df_satis.isnull().any(axis=1)][["Comentarios", "Calificación"]]

## Tratamiento de datos nulos

### drop

`dropna` se usa para eliminar registros que contengan datos nulos
<BR>
[Pandas dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

* how: para especificar si (any / all) celdas deben tener NaN
* thresh: indicar la cantidad de NaN para ejecutar el drop (no se puede combinar con any)
* subset: indicar las columnas a evaluar
* inplace: si guarda los cambios en el dataframe o retorna una copia

Analizar y comparar que sucede cuando aplicamos dropna a todas las columnas o a algunas especificas.

In [ ]:
# Eliminar un registro si alguna las columnas contienen NaA
df_satis_pp2 = df_satis.dropna()
df_satis_pp2.info()

In [ ]:
# Eliminar un registro si alguna o tdas las columnas contienen NaA
df_satis_pp2 = df_satis.dropna(how="all")
df_satis_pp2.info()

In [ ]:
# Eliminar un registro solo evaluando NaN en las columnas indicadas
df_satis_pp2 = df_satis.dropna(subset=["Comentarios", "Calificación"])
df_satis_pp2.info()

In [ ]:
# Eliminar una columna si contiene NaN
df_satis_pp2 = df_satis.dropna(axis=1) # no accepta subset
df_satis_pp2.info()

### fill

`fillna` se utiliza para completar el dato faltante
<BR>
[Pandas fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)
<BR>
* df.fillna(0)  se completa con un valor fijo
* df.fillna(method="ffill")  completa con el valor del registro anterior
* df.fillna(method="bfill") completa con el valor del registro previo
* df["col"].fillna(df["col"].mean()) completa con la media de la columna
* df.fillna({"col1": 0, "col2": "desconocido"})

1. completamos con un valor fijo

In [ ]:
# usamos el atributo value con un valor fijo en 0
df_satis_pp3 = df_satis.fillna(value = 0)
df_satis_pp3.info()

In [ ]:
# También podríamos usar un diccionario
df_satis_pp3 = df_satis.fillna({"Calificación": 0, "Comentarios": "Sin dato"})

In [ ]:
# listamos los primeros registros
df_satis_pp3.head(10)

In [ ]:
# Eventualmente ajustamos el tipo de dato
df_satis_pp3 = df_satis_pp3.astype({"Comentarios": "string"})
df_satis_pp3.info()

In [ ]:
# Podemos aplicar filtros
df_satis_pp3[df_satis_pp3["Comentarios"]=="0"]

2. Completamos con el valor próximo

In [ ]:
df_satis_pp3 = df_satis.fillna(method = "ffill")
df_satis_pp3.info()

3. Completamos con el valor previo

In [ ]:
df_satis_pp3 = df_satis.fillna(method = "bfill")
df_satis_pp3.info()

4. Completamos con la media, meadiana, moda

In [ ]:
df_satis_pp3 = df_satis.fillna(df_satis.mean(numeric_only=True))
df_satis_pp3.info()

In [ ]:
# calcular la media de la columna Calificación
media_calif = df_satis["Calificación"].mode()[0] # mean() / median() / mode()[0]

# aplicar fillna con diccionario
df_satis_pp3 = df_satis.fillna({
    "Calificación": media_calif,
    "Comentarios": "Sin dato"
})

In [ ]:
df_satis_pp3.head(5)

Analicemos el dataset pacientes

In [ ]:
df_pacientes.info()

In [ ]:
# Completamos con la media de la columna
df_pacientes_pp1 = df_pacientes.fillna(df_pacientes.mean(numeric_only=True))
df_pacientes_pp1.info()

In [ ]:
# Completamos con la media de la fila usando lambda

# seleccionar solo las columnas d1...d10
cols = df_pacientes.columns[1:]   # todas excepto 'nombre'

# aplicar moda por fila
df_pacientes_pp1[cols] = df_pacientes[cols].apply(
    lambda row: row.fillna(row.mean()), axis=1
)

In [ ]:
# Completamos con la media de la fila usando T (traspuesta)
df_pacientes_pp1[cols] = df_pacientes[cols].T.fillna(df_pacientes[cols].mean(axis=1)).T

In [ ]:
#df_pacientes.head()
df_pacientes_pp1.head()

Veamos el concepto de Traspuesta

In [ ]:
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
})
print("Original:")
print(df)

print("\nTranspuesta:")
print(df.T)

## Normalización de datos

## Ajustar tipo de dato

### astype()

* df["col"] = df["col"].astype(int)
* df["col"] = df["col"].astype(float)
* df["col"] = df["col"].astype(str)

In [ ]:
df_satis_pp4 = df_satis.copy()
df_satis_pp4["Comentarios"] = df_satis["Comentarios"].astype("string")

In [ ]:
df_satis_pp4.info()

### to_numeric()

In [ ]:
pd.to_numeric(df["col"], errors="coerce")

### to_datetime()

In [ ]:
type(df_satis["Fecha"][0])
df_satis["Fecha"][0]

In [ ]:
# pd.to_datetime(df_satis.Fecha)
pd.to_datetime(df_satis["Fecha"], format="%d/%m/%Y")

## Filtrado de datos

In [ ]:
df_satis.info()

In [ ]:
# Con una sola columna
df_satis["Empresa"]

In [ ]:
# Con varias columnas
df_satis[["Empresa", "Fecha"]]

In [ ]:
df_satis[df_satis["Empresa"] == "Kuhn-Fay"]

In [ ]:
# Con condición
df_satis[[("Empresa") =="Alpha" & ("Comentarios" > "3")]]